extends left

block content
  div.panel.panel-primary
    div.panel-heading
      h3.panel-title 线别:   #{gxjb.pline.name} (#{gxjb.f_date})
  
  div(style='margin-left:20px;margin-top:20px')
      ul 
         li 色差: #[span.text-danger #{blgs.sc }]  原因：#{blgs.sc_r}
         li 膜厚: #[span.text-danger #{blgs.mh }]  原因：#{blgs.mh_r}
         li 错色: #[span.text-danger #{blgs.cs }]  原因：#{blgs.cs_r}
         li 出铁: #[span.text-danger #{blgs.ct }]  原因：#{blgs.ct_r}
         li 气泡: #[span.text-danger #{blgs.qp }]  原因：#{blgs.qp_r}
         li 其它: #[span.text-danger #{blgs.qt }]  原因：#{blgs.qt_r}
  
  a(href=blgs.url+'/update') 修改  
  |&nbsp;&nbsp;
  a(href=blgs.url+'/delete') 删除 
