extends left

block content
  div.panel.panel-primary
    div.panel-heading
      h3.panel-title 线别:   #{gxjb.pline.name} (#{gxjb.f_date})
  
  div(style='margin-left:20px;margin-top:20px')
    for yao in gxys.yao
      h3 药水：#{yao.ysbh.name }
      ul 
         li 处理面积: #[span.text-danger #{yao.clmj }] 
         li 累积面积: #[span.text-danger #{yao.ljmj }] 
         li 处理数量: #[span.text-danger #{yao.clsl }] 
         li 处理桶数（杆）：#[span.text-danger #{yao.clts }]
  
  a(href=gxys.url+'/update') 修改  
  |&nbsp;&nbsp;
  a(href=gxys.url+'/delete') 删除 
