extends left

block content
  div.panel.panel-primary
    div.panel-heading
      h3.panel-title #{title}
  
  div(style='margin-left:20px;margin-top:20px')   
    ul
    each peijian in peijians
      li
        a(href=peijian.url)  #{peijian.bh} #{peijian.name} #{peijian.standard} #{peijian.type} 
    else
      li 没有记录。
      
  script(src='/javascripts/nav2.js')
