extends left

block content
  div.panel.panel-primary
    div.panel-heading
      h3.panel-title #{title}
  
  div(style='margin-left:20px;margin-top:20px')   
    ul
    each storage in storages
      li
        a(href=storage.url)  日期：#{storage.f_date_in} 编号：#{storage.peijian.bh} 数量： #{storage.amount} 
    else
      li 没有记录。
      
  script(src='/javascripts/nav2.js')
